<a href="https://colab.research.google.com/github/Katbut/Libraries/blob/Katbut-patch-2/TeacherHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1. Возникла проблема с моделью линейной регрессии.

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#загрузка датасета
from sklearn.datasets import load_boston
boston = load_boston()

In [ ]:
data= boston["data"]
feature_names=boston["feature_names"]

In [ ]:
#создание датафреймa x 

feature_names=["feature_names"]
X = pd.DataFrame(data, columns=boston.feature_names)
X.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
#создание датафреймa y
target = boston["target"]
Y = pd.DataFrame(target, columns=["price"])
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [ ]:
#разделение выборок на тестовую и тренировочную

from sklearn.model_selection import train_test_split
X_train,Y_train,X_test,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [ ]:
#создание модели линейной регрессии
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, Y_train)

In [ ]:
y_pred_lr = lr.predict(X_test)
check_test_lr = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_lr": Y_pred_lr.flatten()})

check_test_lr.head()

In [ ]:

from sklearn.metrics import mean_squared_error

mean_squared_error_lr=mean_squared_error(check_test_lr["Y_pred_lr"],check_test_lr["Y_test"])

print(mean_squared_error_lr)

NameError: ignored

Задание 2.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
clf.fit(X_train, Y_train.values[:, 0])

In [ ]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

In [ ]:
mean_squared_error_clf = mean_squared_error(check_test_clf["Y_pred_clf"], check_test_clf["Y_test"])
print(mean_squared_error_clf)

In [ ]:
print(mean_squared_error_lr, mean_squared_error_clf)

Задание 3.

In [ ]:
print(clf.feature_importances_)
feature_importance = pd.DataFrame({'name':X.columns, 
                                   'feature_importance':clf.feature_importances_}, 
                                  columns=['feature_importance', 'name'])
feature_importance

In [ ]:
feature_importance.nlargest(2, 'feature_importance')